.photo {
  width: 400px;
  padding: 8px;
  width: 31.29916233557644%;
  margin: 10px 0 10px 1.647324333451392%;
}

.photo .title {
  padding: 10px 0 10px 10px;
}

.photo .image {
  width: 100%;
  margin-bottom: 5px;
}

.photo .btn.open {
  margin-left: 6px;
}

@media (max-width: 800px) {
  .photo {
    width: 100%;
    margin: 10px 0;
  }
}